MODEL_PATH=models/model.pkl
SCALER_PATH=data/robust_scaler.pkl
DATA_PATH=data/df_features.csv
FEATURE_COLS_PATH=data/feature_cols.json
SCALE_COLS_PATH=data/scale_cols.json
DATABASE_URL=sqlite:///./history.db
