# ──────────────────────────────────────────────
# ml_pipeline · Requirements
# Autor: Mathias Sebastian Huanca Pretell
# Fecha: 2026
# ──────────────────────────────────────────────
# Instalación: pip install -r requirements.txt

# Core científico
numpy==2.4.2
pandas==3.0.1
scipy==1.17.1

# Visualización
matplotlib==3.10.8
seaborn==0.13.2
Jinja2==3.1.6

# Machine Learning
scikit-learn==1.8.0
xgboost==3.2.0
lightgbm==4.6.0

# Interpretabilidad
shap==0.51.0

# Persistencia de modelos
joblib==1.5.3

# Lectura de datos
xlrd==2.0.2
pyarrow==23.0.1

# Utilidades
tqdm==4.67.3